@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: #ffffff;
  height: 100%;
}

.str-chat__container {
  width: 100%;
  height: 100% !important;
  margin: 0 !important;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}
